h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body            
      h5 #[strong Cod. 230101239-04]
      p.mb-0 Conocer el manejo del aplicativo web del Registro para la localización y caracterización de las personas con discapacidad (RLCPD), según los estándares establecidos
            
               




