.container#mapaconceptual

    .header-ecored
        h1 Introducción

    .jumbotron.bg-white       
      .row.justify-content-center.align-items-center.my-5 
        .col-12.d-flex.justify-content-center
          img(src="assets/images/pages/mapa_conceptual.svg", alt="", style="width: 100%").