include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Barnes C. Las teorías de la discapacidad y los orígenes de la opresión de las personas con discapacidad en la sociedad occidental.  Discapacidad y Sociedad. Madrid: Barton, Len; 1998. p. 59-73.", "")
        +referenciaItem("Braddock D, Parish S. An institutional history of disability, recuperado de", "https://www.researchgate.net/publication288853348_An_Institutional_History_of_Disability")
        +referenciaItem("Departamento Administrativo Nacional de Estadística DANE.(2005). Discapacidad, personas con Limitaciones Permanentes. Recuperado de", "https://www.researchgate.net/publication/288853348_An_Institutional_History_of_Disability")
        +referenciaItem("Department for International Development. (2000). Department for International Development (2000). Disability, poverty and development. Recuperado de", " https://www.researchgate.net/publication/288853348_An_Institutional_History_of_Disability")
        +referenciaItem("Elwan A. (1999). Poverty and Disability, A Survey of the Literature.  Recuperado de ", "https://www.researchgate.net/publication/288853348_An_Institutional_History_of_Disability")
        +referenciaItem("Gómez J,C. (2010). Discapacidad en Colombia: Reto para la Inclusión en Capital Humano. Bogotá: Autor.", "")
        +referenciaItem("Miles M. (2007). Disability and Deafness, in the Context of Religion, Spirituality, Belief and Morality, in Middle Eastern, South Asian and East Asian Histories and Cultures: annotated bibliography. Recuperado de .", "https://www.independentliving.org/Miles M. (2007). Disability &Health, in the Context of Religión")
        +referenciaItem("Ministerio de Salud y Protección Social. (2020). Resolución 113 de 2020 “ “Por la cual se dictan disposiciones en relación con la certificación de discapacidad y el Registro de Localización y Caracterización de Personas con Discapacidad”. Disponible en ", "https://www.minsalud.gov.co/Normatividad_Nuevo/Resoluci%C3%B3n%20No.%20113%20de%202020.pdf")
        +referenciaItem("Mitra, S., Posarac, A. &amp; Vick, B. (2001). Disability and Poverty in Developing Countries: A Snapshot from the World Health Survey. Recuperado de ", "http://siteresources.worldbank.org/SOCIALPROTECTION/Resources/SP-Discussion-papers/Disability-DP/1109.pdf")         +referenciaItem("Moreno, M. (2008). Pistas para el dialogo entre salud pública y discapacidad: Hacia una comprensión de 
        la evolución del concepto de discapacidad. Bogotá: Autor.", "")
        +referenciaItem("Murray, B. (Sin fecha). Empleo para la justicia social y una globalización equitativa. Recuperado de", "https://www.ilo.org/ wcmsp5/groups/public/---ed_emp/documents/publication/wcms_141381.pdf")
        +referenciaItem("Nussbaum, M. (2007). Las fronteras de la justicia. Consideraciones sobre la exclusión. Barcelona: Autor.", "")
        +referenciaItem("Oliver, M. (Ed.). (1998). ¿Una sociología de la discapacidad o una sociología discapacitada? Madrid: Autor.", "")
        +referenciaItem("Organización de las Naciones Unidas. (2011). Disability and the Millennium Development Goals, A Review of the MDG Process and Strategies for Inclusion of Disability Issues in Millennium Development Goal Efforts. Autor. ", "")
        +referenciaItem("Organización Mundial de la Salud y Grupo Branco Mundial.(2011). Informe Mundial de Discapacidad. Recuperado el 4 de Junio de 2012 de ", "http://www.who.int/disabilities/world_re port/2011/es/index.html")
        +referenciaItem("Organización Mundial de la Salud OMS y Organización Panamericana de la Salud OPS. (2001). Clasificación Internacional del Funcionamiento, de la Discapacidad y de la Salud. Recuperado de", "https://apps.who.int/iris/bitstream/hand le/10665/43360/9241545445_spa.pdf;jsessionid=042E1A-523357794D0C5BCB1D685A3335?sequence=1")
        +referenciaItem("Parra, C. y Covadonga, M. (2011) Revisión de la legislación Colombiana para la implementación de la convención sobre los derechos de las personas con discapacidad. Autor.", "")
        +referenciaItem("Parra, C. y Londoño, B. (Ed.). (2004). La Protección de la Población con Discapacidad en la Jurisprudencia de la Corte Constitucional. Rosario: Autor.", "")
        +referenciaItem("Stang, M. F. (2011). Las personas con discapacidad en América Latina: del reconocimiento jurídico a la desigualdad real.Recuperado de", "https://repositorio.cepal.org/bitstream/handle/11362/7135/S1100074_es.pdf")

                    

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            