.container#tema_2

    .header-ecored
        h1 Unidad 2

    .jumbotron.bg-white
      .row.justify-content-center.align-items-center.my-5
        .col-12.mb-4        
          h2.text-center El RLCPD y el soporte tenológico requerido para implementar el proceso de certificación de discapacidad       
        .col-12.mb-5
          p El proceso de certificación de discapacidad debe cumplir dos pasos: #[strong el primero,] relacionado con la solicitud y autorización para realizar el proceso de certificación y, #[strong el segundo,] la valoración por el equipo multidisciplinar. 
          p El aplicativo del RLCPD cumple un papel fundamental en el desarrollo del segundo paso, no obstante es importante entender que existen otros recursos tecnológicos que pueden ser requeridos para llevar a cabo un proceso de certificación integralmente desde que la persona solicitante lo demanda hasta que se le entrega el documento final. El siguiente cuadro resume cada uno de los pasos y lo relaciona con el soporte tecnológico requerido para llevarlo a cabo:

        .col-12.col-lg-10.mb-5
          img(src="assets/images/pages/tema_2/info_01.svg", alt="", style="width:100%").img-fluid

        .col-12.col-lg-10.mb-5
          img(src="assets/images/pages/tema_2/info_02.svg", alt="", style="width:100%").img-fluid

        .col-12.col-lg-10.mb-5
          img(src="assets/images/pages/tema_2/info_03.svg", alt="", style="width:100%").img-fluid

        .col-12.col-lg-10.mb-5
          img(src="assets/images/pages/tema_2/info_04.svg", alt="", style="width:100%").img-fluid

        .col-12.col-lg-10.mb-5
          img(src="assets/images/pages/tema_2/info_05.svg", alt="", style="width:100%").img-fluid

    .jumbotron.bg-white      

      .row.justify-content-center.align-items-center.mb-4     
        .col-auto
          img(src="assets/images/pages/tema_2/icon_01.svg", alt="", style="width:45px")
        .col
          h2.mb-0 Contar con historia clínica
      .row.mb-5
        .col-12
          p El solicitante debe pedir a su médico tratante de la IPS de la red de prestación de servicios de la EPS a la que se encuentra afiliado, una valoración médica para establecer un diagnóstico relacionado con discapacidad (CIE-10), y la obtención de la historia clínica en la que se incluya dicho diagnóstico, los soportes de apoyo diagnóstico y la determinación de apoyos y ajustes razonables que se requieran para efectos de la solicitud de la realización del procedimiento de certificación de discapacidad.
          p En caso de que el solicitante ya cuente con esta información, puede dirigirse directamente a la secretaría de salud de su municipio.

    .jumbotron.bg-white
      .row.justify-content-center.align-items-center.mb-4    
        .col-auto
          img(src="assets/images/pages/tema_2/icon_02.svg", alt="", style="width:45px")
        .col
          h2.mb-0 Remisión a equipo multidisciplinario

      .row
        .col-12
          p La persona interesada en realizar el procedimiento de certificación de discapacidad o excepcionalmente, su representante, debe hacer la solicitud ante la secretaría de salud distrital o municipal de su lugar de residencia, presentando la historia clínica, que debe incluir:        
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p El diagnóstico (CIE-10) relacionado con la discapacidad, emitido por el médico tratante del prestador de servicios de salud de la red de la EPS a la que se encuentre afiliado. 
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p Los soportes de apoyo diagnóstico.
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p Los apoyos y ajustes razonables que la persona requiere para la consulta (Ver Resolución 3280 de 2018, sobre las medidas de adaptabilidad de la RIA de Promoción y Mantenimiento).
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p #[strong Importante:] mientras el solicitante no cuente con el diagnóstico, el médico tratante no emitirá la remisión para consulta por equipo multidisciplinario de salud para iniciar el procedimiento de certificación de dispacidad.

    .jumbotron.bg-white
      .row.justify-content-center.align-items-center.mb-4    
        .col-auto
          img(src="assets/images/pages/tema_2/icon_01.svg", alt="", style="width:45px")
        .col
          h2.mb-0 Autorización y asignación de cita

      .row
        .col-12
          p Al llegar la persona con discapacidad, la secretaría de salud debe:
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p Verificar que la historia clínica contenga la información completa.
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p Expedir la orden para la realización de la valoración por equipo multidisciplinario para certificar discapacidad, dentro de los cinco (5) días hábiles siguientes a la solicitud.
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p Indicar al solicitante las IPS autorizadas por la secretaría de salud para realizar certificaciones, así como los contactos para la asignación de citas.
        .col-12
          p En el orden se debe especificar:
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p Si se requiere que la consulta por equipo multidisciplinario de salud sea institucional o domiciliaria, de acuerdo con lo establecido por el médico tratante. (La autorización de consulta en modalidad domiciliaria, será excepcional, y procederá únicamente por orden del médico tratante).
        .col-12.mb-4
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p Las necesidades de apoyos y ajustes razonables, cuando el médico tratante las haya establecido, de acuerdo con la siguiente clasificación:
              ul
                li.mb-3 Movilidad.
                li.mb-3 Comunicación y acceso a la comunicación.
                li.mb-3 Persona de apoyo.
        .col-12
          p Las IPS dispondrán de mecanismos no presenciales para la asignación de citas, las cuales deben asignarse en un plazo máximo de diez (10) días hábiles, posteriores a la solicitud. 
          p Tambien las IPS gestionarán lo necesario para que, en la consulta con el equipo multidisciplinario de salud, se cuente con los apoyos y ajustes razonables que haya establecido el médico tratante, teniendo en cuenta la información aportada en la orden emitida por la secretaria de salud.
          p El objetivo de esta consulta es certificar la discapacidad del solicitante con base en la aplicación de una valoración que busca identificar la presencia de deficiencias corporales, limitaciones en la actividad y restricciones en la participación.

      
    .jumbotron.bg-white
      .row.justify-content-center.align-items-center.mb-4    
        .col-auto
          img(src="assets/images/pages/tema_2/icon_02.svg", alt="", style="width:45px")
        .col
          h2.mb-0 Consulta por equipo multidisciplinario 

      .row.mb-5
        .col-12
          .chat
            .chat-avatar
              img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--odd
              p.mb-2 #[strong Julio:]
              p.mb-0 si yo hago parte del el equipo multidisciplinario ¿qué insumos debo preparar para la consulta?
        .col-12
          .chat
            .chat-avatar.order-2
              img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--even.order-1
              p.mb-2 #[strong Liz:]
              p.mb-4 A) La versión digital o física de la CIF versión para la Infancia y la Adolescencia, disponible en:    
              .row.mb-4
                .col-auto     
                  .media_link
                    a(href="https://apps.who.int/iris/handle/10665/81610?locale-attribute=es&  ", target="_blank", style="background-color: white !important;")
                      .media_link__icon
                        img(src="assets/images/icons/icon_www.svg", alt="")
                      .media_link__txt
                        p #[strong CIF-IA. (OMS, 2011)]
              p.mb-3 B) Tener acceso al aplicativo web del Registro de Localización y Caracterización de Personas con Discapacidad.
              p.mb-0 Antes de iniciar la consulta, el equipo debe organizarse de tal manera que el proceso pueda desarrollarse integralmente. Se requerirá la distribución de roles como revisión de documentos y diligenciamiento de la información en el aplicativo web del RLCPD.
        .col-12
          .chat
            .chat-avatar
              img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--odd
              p.mb-2 #[strong Julio:]
              p.mb-0 ¿Qué acciones debemos desarrollar como equipo multidisciplinario de salud dentro de la consulta?
        .col-12
          .chat
            .chat-avatar.order-2
              img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--even.order-1
              p.mb-2 #[strong Liz:]
              p.mb-3 Durante la consulta se desarrollan tres acciones específicas y una transversal. Te voy a describir cada una de estas acciones, la metodología y los instrumentos a ser utilizados, así como los datos que emergen como resultado de su desarrollo.      
              p.mb-5 En este cuadro está la síntesis del desarrollo de la consulta por equipo multidisciplinario para certificación de discapacidad.
              .row.justify-content-center.align-items-center
                .col-12.col-lg-7
                  img(src="assets/images/pages/tema_2/info_02.svg", alt="", style="width: 100%;")
    
      .hr-divider.mb-5

      .row.justify-content-center.align-items-center
        .col
          p Una tarea que se lleva a cabo de manera trasversal durante el desarrollo de la consulta por equipo multidisciplinario de salud para certificación de discapacidad es la generación del perfil de funcionamiento. Estos son los criterios que deben conformar el perfil. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p #[strong Criterio 1.] Diagnósticos relacionados con la discapacidad. Escriba los diagnósticos relacionados con la discapacidad y sus respectivos códigos de la Clasificación Internacional de Enfermedades –CIE 10. Escriba los tres diagnósticos más relevantes (mínimo uno y máximo 3).
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p #[strong Criterio 2.] Fuentes de verificación. Escriba los tres diagnósticos más relevantes (máximo tres) principales resultados de los exámenes relacionados con la discapacidad, tomados de la fuente de verificación que presenta la persona con discapacidad.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p #[strong Criterio 3.] Causa de las deficiencias. Con base en la revisión de las fuentes de verificación, seleccione la opción que mejor represente la causa de la condición de salud del solicitante. Debe seleccionar una sola opción. 
              p.mb-5 Las opciones se encuentran clasificadas en tres grupos: “de nacimiento”, “adquirida” y “no se identifica”. Si la causa de la deficiencia se clasifica como adquirida, seleccione la opción correspondiente, dentro de la lista que se presenta a continuación:
              .row.mb-5
                .col-auto     
                  .media_link
                    a(href="media/documentos/Criterio_3_Causas_Deficiencias.pdf",target="_blank" )
                      .media_link__icon
                        img(src="assets/images/icons/icon_pdf.svg", alt="")
                      .media_link__txt
                        p #[strong Criterio 3. Causas de las deficiencias]
              p Las opciones enfermedad laboral y accidente de trabajo solo deben seleccionarse si entre las fuentes de verificación se cuenta con dictamen de origen de pérdida de la capacidad laboral y ocupacional.

        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              p #[strong Criterio 4.] Perfil del funcionamiento. En esta sección se describe cada uno de los componentes de la discapacidad:
              ul
                li.mb-3 Funciones corporales (b).
                li.mb-3 Estructuras corporales (s).
                li.mb-3 Actividades y participación (d).
        .col-12.mb-5
          p En la descripción de cada una de las acciones a desarrollar en la consulta multidisciplinaria se señalan los momentos específicos en los cuales se debe diligenciar cada uno de los componentes del perfil.
          p Cada componente incluye dos partes. Una que hace referencia a los dominios, y la otra a la codificación. Todos los componentes se estructuran de la siguiente manera:

        .col-12.col-lg-8.mb-5
          img(src="assets/images/pages/tema_2/info_03.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p A continuación se describe cada uno de los elementos que conforman la estructura anterior:
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p #[strong Dominio:] es un conjunto práctico y lógico de funciones fisiológicas, estructuras anatómicas, actividades, formas de participación o elementos del entorno. Cada dominio se corresponde con un capítulo de la CIF-IA. Algunos dominios se subdividen en grupos que facilitan la identificación de los aspectos a evaluar. El nombre de los grupos va seguido por el rango de códigos que abarca. Por ejemplo, el dominio “Funciones sensoriales y dolor” incluye el grupo “Vista y funciones relacionadas” (b210-b229) el cual abarca desde el código b210 hasta el código b229. La información sobre dominios y grupos se presenta de forma preestablecida en la tabla de cada componente.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p #[strong Codificación:] en la segunda parte, se deben escribir los códigos CIF-IA para cada dominio y grupo que se esté evaluando. Cada grupo tiene espacio para la codificación de hasta dos categorías. Las categorías son los elementos que conforman los dominios. Las categorías y sus respectivos códigos se encuentran en la CIF-IA.
        .col-12.mb-5
          p De acuerdo con las reglas de codificación de la CIF-IA, los códigos se construyen de la siguiente manera:

        .col-12.col-md-8.col-lg-6.mb-5
          img(src="assets/images/pages/tema_2/info_04.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p Siguiendo con el ejemplo anterior, el dominio “Funciones sensoriales y dolor”, cuyo código de primer nivel es b2, incluye el grupo “Vista y funciones relacionadas” dentro del cual se encuentra la categoría “Funciones visuales” cuyo código es b210 (Segundo nivel), dentro de esta categoría se encuentra la de “Funciones de la agudeza visual”, cuyo código es b2100 (Tercer nivel). Entonces el código para “Funciones de la agudeza visual” se registraría de la siguiente manera:

        .col-12.col-md-8.col-lg-6.mb-5
          img(src="assets/images/pages/tema_2/info_05.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p El formato de perfil de funcionamiento permite el registro de códigos máximo hasta tercer nivel (N3). Tenga en cuenta que la letra que identifica el componente y el número del capítulo (N1) está preestablecido en el espacio para registrar cada código.
          p Por último, se debe incluir el calificador para indicar la magnitud del problema que se está evaluando. Un código CIF solo estará completo si cuenta con su respectivo calificador. Dependiendo del componente al que haga referencia, “tener un problema” puede significar una deficiencia, una limitación o una restricción.
          p Todos los componentes se cuantifican utilizando la escala genérica de calificación de la CIF que se presenta en la tabla 2.

        .col-12.col-md-8.col-lg-6.mb-5
          p.text-center.mb-3 Tabla 1. Escala genérica de la CIF
          img(src="assets/images/pages/tema_2/info_06.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p Para registrar el calificador de una categoría se debe utilizar la casilla ubicada a la derecha del punto (.), cuya columna se identifica con la letra C. Así, continuando con el ejemplo anterior, si una persona presenta una deficiencia severa en las funciones de la agudeza visual, el código completo se registraría de la siguiente manera:

        .col-12.col-md-8.col-lg-6.mb-5          
          img(src="assets/images/pages/tema_2/info_07.svg", alt="", style="width:100%").img-fluid

    .jumbotron.bg-white
      .row.justify-content-center.align-items-center
        .col-12.mb-4
          h2 Identificación de deficiencias corporales mediante revisión de historia clínica  
        .col-12
          h3 Deficiencias en funciones corporales  
        .col-12
          p Con base en la historia clínica del solicitante: 

        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p Identifique en cuales funciones corporales presenta deficiencias y la magnitud de dichas deficiencias. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p Remítase a la CIF e identifique el capítulo y la categoría que mejor describa cada una de las deficiencias en Funciones Corporales. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p Una vez identificado el código remítase a la tabla del “Criterio funciones corporales (b) del perfil de funcionamiento” para registrar las deficiencias en funciones corporales.
              .row.mb-3
                .col-auto     
                  .media_link
                    a(href="media/documentos/Criterio_4_1_Funciones_corporales_b.pdf", target="_blank")
                      .media_link__icon
                        img(src="assets/images/icons/icon_www.svg", alt="")
                      .media_link__txt
                        p #[strong Criterio 4.1. Funciones corporales (b)]  
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              p Remítase a la CIF e identifique el capítulo y la categoría que mejor describa cada una de las deficiencias en Funciones Corporales.  
              p En dicha tabla registre el código completo usando una casilla para cada dígito, en la columna correspondiente al nivel (N2, N3)
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span E
            .list__txt
              p Así mismo, registre el calificador en la casilla ubicada a la derecha del punto, en la columna identificada con la letra C, utilizando la “Escala genérica de calificación de la CIF”.
        .col-12.mb-5
          .list
            .list__item
              .list__item__bulletNumber
                span F
            .list__txt
              p Repita este procedimiento para todas las deficiencias corporales que puedan estar asociadas con la discapacidad del solicitante. 

        .col-12.mb-3
          h3 Veamos un ejemplo

        .col-12
          .jumbotron
            .row.justify-content-center.align-items-center
              .col-12.col-md-auto.d-flex.justify-content-center.mb-5.mb-md-0
                img(src="assets/images/pages/tema_2/img_01.svg", alt="", style="width: 150px")
              .col.mb-5.mb-md-0
                p Ella es Dennis, una mujer de 35 años quien hace dos años sufrió un accidente de tránsito, a consecuencia del cual se le practicó la amputación de la pierna derecha por debajo de la rodilla. 
                p Dennis presenta una severa dificultad para caminar sin ayuda pese al uso de prótesis, lo cual la limita para salir sola de su casa, que sumado a las barreras del entorno, le ha impedido obtener un empleo.

        .col-12.mb-5
          p Dennis presenta una deficiencia en funciones corporales que puede describirse en los siguientes términos.

        .col-12.col-md-8.col-lg-6.mb-5          
          img(src="assets/images/pages/tema_2/info_08.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p.mb-0.text-center La deficiencia que presenta Dennis se clasifica en:

        .col-12.col-md-8.col-lg-6.mb-5          
          img(src="assets/images/pages/tema_2/info_09.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p Teniendo en cuenta que se indica que la deficiencia es severa, se asigna como calificador el número 3.
          p Bajo estas consideraciones, el código se registraría así en el perfil de funcionamiento:

        .col-12.col-md-10.mb-5          
          img(src="assets/images/pages/tema_2/info_10.svg", alt="", style="width:100%").img-fluid
      
      
    .jumbotron.bg-white
      .row.justify-content-center.align-items-center
        .col-12
          h2 Deficiencias en estructuras corporales
          p Con base en la historia clínica del solicitante:

        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p Identifique en cuales estructuras corporales presenta deficiencias y la magnitud de dichas deficiencias.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p Remítase a la CIF-IA e identifique el capítulo de Estructuras Corporales y la categoría que mejor describa cada una de las deficiencias.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p Una vez identificado el código remítase a la tabla “Criterio estructuras corporales (s) del perfil de funcionamiento” y registre el código completo usando una casilla para cada dígito, incluyendo el literal que corresponde al componente. 
              .row.mb-4
                .col-auto     
                  .media_link
                    a(href="media/documentos/Criterio_4_2_Estructuras_Corporales_s.pdf", target="_blank")
                      .media_link__icon
                        img(src="assets/images/icons/icon_www.svg", alt="")
                      .media_link__txt
                        p #[strong Criterio 4.2 Estructuras corporales(s).pdf]
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              p Todos los componentes de estructuras corporales se califican utilizando la escala de calificadores para estructuras corporales de la CIF que se presenta en la siguiente tabla. 
        .col-12.mb-5
          p Para este componente se usan tres calificadores que valoran la magnitud de la deficiencia (Cm), la naturaleza del cambio en la estructura (Cn) y la localización de la deficiencia (Cl). 

        .col-12.col-lg-10.mb-5          
          img(src="assets/images/pages/tema_2/info_11.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-3
          h3 Sigamos con nuestro ejemplo

        .col-12.mb-3
          .jumbotron
            .row.justify-content-center.align-items-center
              .col-12.col-md-auto.d-flex.justify-content-center.mb-5.mb-md-0
                img(src="assets/images/pages/tema_2/img_01.svg", alt="", style="width: 150px")
              .col.mb-5.mb-md-0
                p Ella es Dennis, una mujer de 35 años quien hace dos años sufrió un accidente de tránsito, a consecuencia del cual se le practicó la amputación de la pierna derecha por debajo de la rodilla. 
                p Dennis presenta una severa dificultad para caminar sin ayuda pese al uso de prótesis, lo cual la limita para salir sola de su casa, que sumado a las barreras del entorno, le ha impedido obtener un empleo.

        .col-12.mb-5
          p Dennis presenta una deficiencia en estructuras corporales que puede describirse en los siguientes términos.

        .col-12.col-md-8.col-lg-6.mb-5        
          img(src="assets/images/pages/tema_2/info_12.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p.text-center La deficiencia que presenta Dennis se clasifica en:

        .col-12.col-md-8.col-lg-6.mb-5        
          img(src="assets/images/pages/tema_2/info_13.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p Teniendo en cuenta que se indica que la deficiencia es de magnitud completa, que su naturaleza es ausencia totaly que su localización es derecha, se asignan los siguientes calificadores.

        .col-12.col-md-8.col-lg-6.mb-5        
          img(src="assets/images/pages/tema_2/info_14.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p Bajo estas consideraciones, el código se registraría así en el perfil de funcionamiento:

        .col-12.col-md-8.col-lg-6.mb-5        
          img(src="assets/images/pages/tema_2/info_15.svg", alt="", style="width:100%").img-fluid

    .jumbotron.bg-white
      .row.justify-content-center.align-items-center
        .col-12.mb-5
          h2 Limitaciones en las actividades y restricciones en la participación

        .col-12.mb-5
          p Este paso se desarrolla mediante la aplicación del WHODAS 2.0, un instrumento fundamentado en la CIF, cuyo propósito es identificar la presencia de limitaciones en las actividades y restricciones en la participación, mediante la caracterización de las dificultades en el desempeño en los dominios de actividades y participación. 
          p Dicho instrumento sigue la perspectiva del desarrollo individual, razón por la cual cuenta con una versión para cada grupo de edad, así:

        .col-12.col-md-8.col-lg-9.mb-5        
          img(src="assets/images/pages/tema_2/info_16.svg", alt="", style="width:100%").img-fluid
        .col-12.mb-5
          p.text-center Instrumento de valoración de limitaciones en las actividades y restricciones a la participación, según grupos de edad Fuente: MSPS (2018)

        .col-12.mb-3
          p.mb-5 Cada versión evalúa los dominios de actividades y participación de acuerdo con las actividades propias de cada etapa del ciclo de vida valorada.
          p Cada una de las preguntas del instrumento cuenta con:
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p Las siguientes opciones de respuesta: No aplica (NA) ; Ninguna (0); Leve (1) Moderada (2); Severa (3); No lo puede hacer (4). 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p Un código CIF preestablecido. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p Un espacio para registrar el calificador. El calificador corresponde al número entre paréntesis ubicado bajo cada opción de respuesta.
        .col-12
          p La aplicación del instrumento se realiza mediante #[strong una entrevista estructurada.] Aunque todo el equipo multidisciplinario de salud debe estar presente durante la entrevista, #[strong ésta deberá ser conducida por uno solo de los miembros del equipo.] Los demás miembros podrán solicitar aclaraciones o ampliaciones de la información durante el curso de la entrevista. 
      
    .jumbotron.bg-white
      .row.justify-content-center.align-items-center
        .col-12.mb-5
          h2 Instrucciones generales para la aplicación del instrumento 
        
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p Léale a la persona entrevistada las instrucciones y preguntas textualmente. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p Frente a cada pregunta marque con una equis (X) la opción de respuesta seleccionada por la persona entrevistada. Señale una sola opción de respuesta para cada pregunta. No deje preguntas sin hacer, ni sin respuesta. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p En el caso de los niños de 0 a 2 y de 3 a 5 años, utilice la opción No aplica (NA), solamente si la pregunta planteada no puede ser respondida debido a que evalúa una meta del desarrollo que aún no corresponde a lo esperado para la edad cronológica del niño. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              p Frente a las personas menores de 18 años la entrevista debe ser respondida por el padre, madre o representante legal.

    .jumbotron.bg-white

      .row.justify-content-center.align-items-center
        .col-12
          h2 Para la calificación del instrumento: 

        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p Al terminar de hacer todas las preguntas, incluyendo las del tercer momento (información sobre factores personales y ambientales), solicite a la persona entrevistada que se retire momentáneamente del consultorio para el respectivo análisis de las respuestas.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p La calificación de las preguntas se realiza registrando el calificador correspondiente a la opción de respuesta elegida por la persona entrevistada en el respectivo espacio para el calificador, frente a cada pregunta.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p Tenga en cuenta que en el resultado de la versión para personas de 0 a 2 y de 3 a 5 años los resultados no se ponderan ni se suman. Los resultados de la versión para personas de 6 a 17 años y de la versión para personas de 18 años y más, tiene reglas de ponderación específicas que se describen en el anexo técnico de la Resolución 113 de 2020.
        .col-12.mb-5
          p La aplicación del WHODAS Child (para personas de 6 a 17 años) y WHODAS 2.0 (para personas de 18 años y más) permite generar dos tipos de resultado:

        .col-12.col-md-8.col-lg-9.mb-5        
          img(src="assets/images/pages/tema_2/info_17.svg", alt="", style="width:100%").img-fluid
        .col-12.mb-5
          p.text-center Tipos de resultados obtenidos de la aplicación del Instrumento de valoración de limitaciones en las actividades y restricciones a la participación. Fuente: MSPS (2018)

        .hr-divider.mb-5

        .col-12.mb-3
          h3 Continuemos con el caso de Dennis

        .col-12.mb-3
          .jumbotron
            .row.justify-content-center.align-items-center
              .col-12.col-md-auto.d-flex.justify-content-center.mb-5.mb-md-0
                img(src="assets/images/pages/tema_2/img_01.svg", alt="", style="width: 150px")
              .col.mb-5.mb-md-0
                p Ella es Dennis, una mujer de 35 años quien hace dos años sufrió un accidente de tránsito, a consecuencia del cual se le practicó la amputación de la pierna derecha por debajo de la rodilla. 
                p Dennis presenta una severa dificultad para caminar sin ayuda pese al uso de prótesis, lo cual la limita para salir sola de su casa, que sumado a las barreras del entorno, le ha impedido obtener un empleo.

        .col-12.mb-3
          p A través de la aplicación del WHODAS 2.0 mediante entrevista estructurada con Dennis, se obtuvieron los siguientes resultados.
          .row.mb-4
            .col-auto     
              .media_link
                a(href="media/documentos/WHODAS_Dennis.pdf", target="_blank")
                  .media_link__icon
                    img(src="assets/images/icons/icon_www.svg", alt="")
                  .media_link__txt
                    p #[strong Resultados Dennis]
          p En síntesis, estos son los niveles de dificultad en el desempeño que presenta Dennis, los cuales deben ser registrados en el espacio destinado para ello en el formato:

        .col-12.col-md-8.col-lg-9.mb-5        
          img(src="assets/images/pages/tema_2/info_18.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p Para la inclusión de los códigos CIF-IA en el perfil de funcionamiento:

        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p.mb-5 Los códigos CIF de las preguntas que reciban un calificador entre 1 y 4 deberán registrarse en la tabla “Criterio actividades y participación (d) del perfil de funcionamiento”. 
              .row.mb-4
                .col-auto     
                  .media_link
                    a(href="media/documentos/Criterio_4_3_Actividades_Participacion_d.pdf", target="_blank")
                      .media_link__icon
                        img(src="assets/images/icons/icon_www.svg", alt="")
                      .media_link__txt
                        p #[strong Criterio 4.3. Actividades y participación (d).]
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p En dicha tabla localice el dominio de actividades y participación correspondiente al código a registrar. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p Se debe registrar tanto el código como el calificador teniendo en cuenta los casos especiales que se especifican para cada una de las versiones del instrumento.
        .col-12.mb-5
          .list
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              p En caso de que a través de la revisión de historia clínica se hayan identificado otras limitaciones en las actividades y restricciones en la participación no incluidas en el WHODAS Child o en el WHODAS 2.0, busque los códigos respectivos en la CIF, asigne el calificador y regístrelo en el perfil de funcionamiento.

        .col-12.mb-5
          h3 Tomemos como ejemplo
          p.mb-0 A partir de la pregunta D2.4 ¿En el último mes cuánta dificultad ha tenido para salir de su hogar? a la cual Dennis respondió SEVERA, es posible señalar que Dennis presenta una limitación en las actividades y restricción en la participación, que podría describirse en los siguientes términos:
        
        .col-12.col-md-8.col-lg-6.mb-5       
          img(src="assets/images/pages/tema_2/info_19.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p.text-center La dificultad en el desempeño que presenta Dennis se clasifica en:

        .col-12.col-md-8.col-lg-6.mb-5       
          img(src="assets/images/pages/tema_2/info_20.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p Teniendo en cuenta que se indica que la respuesta de Dennis fue “SEVERA”, se asigna como calificador el número 3.
          p Bajo estas consideraciones, el código se registraría así en el perfil de funcionamiento:

        .col-12.col-md-10.mb-5       
          img(src="assets/images/pages/tema_2/info_21.svg", alt="", style="width:100%").img-fluid

      .jumbotron
        .row.justify-content-center.align-items-start
          .col-auto
            img(src="assets/images/pages/tema_2/icon_03.svg", alt="", style="width:35px")
          .col
            h2.mb-2 Nota
            p Recuerde que cada pregunta del WHODAS 2.0 y de las versiones para cada grupo de edad trae un código CIF preestablecido.
            p.mb-0 Para conocer todos los códigos que se registraron en el caso de Dennis, vea el PDF Actividades y participación Dennis.

    .jumbotron.bg-white
      .row.justify-content-center.align-items-center
        .col-12
          h2 Solicitud de información sobre factores personales y ambientales
        .col-12
          p.mb-5 El último paso de la entrevista estructurada es la solicitud de información acerca de los datos personales y de residencia del solicitante, autorreconocimiento (identidad de género, orientación sexual, pertenencia étnica) y su entorno para la vida y el cuidado. En este último aspecto indaga acerca del acceso a la garantía del derecho a la rehabilitación, a la educación, al trabajo y a la participación en la vida política y pública, necesidades de apoyo permanente de una tercera persona y presencia de barreras físicas, comunicativas y actitudinales.
          p Para la formulación de las preguntas tenga en cuenta las siguientes instrucciones:
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p Lea las preguntas tal como están formuladas, incluyendo los ejemplos cuando estos son presentados. De ser necesario haga las aclaraciones correspondientes para que la persona comprenda el sentido de la pregunta.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p Lea todas las opciones de respuesta.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p No deje preguntas sin formular ni sin respuesta.
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              p Siga las indicaciones que se presentan en función de la respuesta brindada por la persona entrevistada.
        
    .jumbotron.bg-white
      .row.justify-content-center.align-items-center    
        .col-auto
          img(src="assets/images/pages/tema_2/icon_04.svg", alt="",style="width:45px")
        .col
          h2.mb-0 Generación del certificado de discapacidad

      .row.justify-content-center.align-items-center.mb-5   
        .col-12
          .chat
            .chat-avatar
              img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--odd
              p.mb-2 #[strong Julio:]
              p.mb-0 Gracias, Liz por la explicación tan detallada. ¿Entonces después de la consulta por el equipo multidisciplinario se genera el certificado?
        .col-12.d-flex.justify-content-end
          .chat
            .chat-avatar.order-2
                img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--even.order-1
              p.mb-2 #[strong Liz:]
              p.mb-0 Si, Julio, pero hay unos criterios para determinar si se emite el certificado de discapacidad.
        .col-12
          .chat
            .chat-avatar
              img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--odd
              p.mb-2 #[strong Julio:]
              p.mb-0 ¿Y cuáles son esos criterios?
        .col-12.d-flex.justify-content-end.mb-5
          .chat
            .chat-avatar.order-2
                img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--even.order-1
              p.mb-2 #[strong Liz:]
              p.mb-5 El certificado solo se emite cuando se obtienen estos dos resultados:                    
              img(src="assets/images/pages/tema_2/info_22.svg", alt="", style="width:100%").img-fluid

        .col-12.mb-5
          p En el certificado de discapacidad se debe consignar la siguiente información, como resultado de la aplicación de los instrumentos descritos en los apartados anteriores:

        .col-12.mb-5       
          img(src="assets/images/pages/tema_2/info_23.svg", alt="", style="width:100%").img-fluid
        
        .col-12.mb-5
          p Para terminar con nuestro ejemplo, el certificado de discapacidad de Dennis sería como se muestra a continuación:
        
        .col-12.mb-5       
          img(src="assets/images/pages/tema_2/certificado_01.png", alt="", style="width:100%").img-fluid

        .col-12.mb-5       
          img(src="assets/images/pages/tema_2/certificado_02.png", alt="", style="width:100%").img-fluid

    .jumbotron.bg-white
      .row.justify-content-center.align-items-center.mb-4     
        .col-auto
          img(src="assets/images/pages/tema_2/icon_05.svg", alt="", style="width:45px")
        .col
          h2.mb-0 Entrega del certificado de discapacidad

      .row.justify-content-center.align-items-center.mb-5
        .col-12.mb-5
          p Para informar sobre el resultado del proceso se pide al solicitante ingresar de nuevo al consultorio. Al solicitante se le hará entrega de una copia del certificado de discapacidad. Al hacer la entrega, se le debe explicar la información que contiene e informarle que los resultados serán incluidos en el RLCPD. 
          p El equipo multidisciplinario deberá cerciorarse que el solicitante comprenda el resultado del procedimiento de certificación, haciendo uso de los apoyos y ajustes razonables. Si el solicitante aún no lo tiene claro, excepcionalmente, se realizará la manifestación de voluntad a través del representante. 

      .row
        .col-12
          .chat
            .chat-avatar
              img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--odd
              p.mb-2 #[strong Julio:]
              p.mb-0 ¿y qué pasa si después de la valoración el resultado no permitan certificar la discapacidad del solicitante? 
        .col-12.d-flex.justify-content-end
          .chat
            .chat-avatar.order-2
                img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--even.order-1
              p.mb-2 #[strong Liz:]
              p.mb-0 En ese caso se le explicarán las razones para no emitir la certificación y se dejará constancia en la historia clínica. En caso de que el solicitante no esté de acuerdo con el resultado de la certificación, se le debe informar que tiene derecho a solicitar una segunda opinión y los mecanismos para ello.
        .col-12
          .chat
            .chat-avatar
              img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--odd
              p.mb-2 #[strong Julio:]
              p.mb-3 Muchas gracias Liz por acompañarnos en este importante aprendizaje y por resolver todas mis dudas. 
              p.mb-0 Pero no me quiero despedir sin la última pregunta: ¿Qué pasó con Eliécer?
        .col-12.d-flex.justify-content-end
          .chat
            .chat-avatar.order-2
                img(src="assets/images/icons/user.svg", alt="")
            .chat-box.cb--even.order-1
              p.mb-2 #[strong Liz:]
              p.mb-0 Lo seguimos visitando durante algunos años. Finalmente doña Marina lo inscribió en el colegio del barrio. La psicóloga del colegio le explicó que tenía una discapacidad Intelectual Leve, es decir, que sus capacidades de aprendizaje estaban levemente atrasadas, pero que podía seguir un sistema académico o profesional normal. De hecho, Eliécer se adaptó muy bien y ahora está estudiando ingeniería mecánica. Dice que desde que leía el libro de la historia de los vehículos sabía qué quería hacer en su vida. Su mamá ya no tiene miedo de que vaya y vuelva a la universidad en bicicleta. 
      
      



        
            



              

          





        



          


            

          

              

              